<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604659040624-pghugq3novm58loeh5dgrrcc9a6323am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604659040624-pghugq3novm58loeh5dgrrcc9a6323am</string>
	<key>API_KEY</key>
	<string>AIzaSyCOQh2WJzBX9s5FBCJWBE88yXzV4KU-VSo</string>
	<key>GCM_SENDER_ID</key>
	<string>604659040624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alnikotech.cryptocontest</string>
	<key>PROJECT_ID</key>
	<string>cryptocontest8</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptocontest8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604659040624:ios:edc868c2680b6188</string>
	<key>DATABASE_URL</key>
	<string>https://cryptocontest8.firebaseio.com</string>
</dict>
</plist>